body {
    font-family: 'Poppins', sans-serif;
    background-image: url('taal-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('taal-background.jpg') center/cover no-repeat;
    opacity: 0.5;
    z-index: -1;
}

.section-divider {
    border: 0;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0;
}